
body{
    background-color:#333333;
}
p{
    color: white;
}
/* #ebd69a */
.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.headerBar{
    text-align: center;
}

.heading {
    font-size: 4em;
    margin: 2rem 0;
    text-align: center;
    background-color: #333333;
    color: white;
    border: 2px solid goldenrod;
    border-radius: 50%;
    padding: 30px;
}

.question {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.answer {
    background-color: #7f7f7f;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1.5px solid goldenrod;
    border-radius: 5px;
    width: 80%;
}

.play{

    font-size: 20px;
    font-weight: bold;
    color: green;

}
.welcome-text{

    color: white;
    font-size: 20px;
}
.game-result{
    font-style: italic;
    font-weight: bolder;
}

.play-new-game-button{


    background-color: #333333;
    color: white;
    border: 1px solid goldenrod;
    font-weight: bold;
    padding: 5px 10px;
    white-space: nowrap;
    position: relative;
    float: left;
    left: -25px;



}
.home-title{
    color: white;
    border-bottom: 2px solid goldenrod;
}

.quiz{
    font-style: italic;
}
.action{
    display: flex;
    text-align: center;
    align-items: center;
    border-bottom: 2px solid goldenrod;
    width: 120px;
    height: 30px;
    padding: 20px;
    border-radius: 50%;
}

.quizBtn {
    height: 50px;
    background-color: rgb(207, 205, 200);
    font-size: 1em;
    border: 2px solid red;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.header-text{
    font-size: 30px;
    color: gray;
    font-style: italic;
    font-weight: bolder;
}

.notLoggedInMessage {
    justify-self: flex-start;
    font-size: 2em;
    color: white;
    padding: 10px;
}
.home {
    float: left;
}
.btnPart {
    margin-left: -7px;
}
.cell-victory {
    background: lightskyblue;
}

.cell-defeat {
    background: blue;
}

.cell-to-insert {
    background: yellow;
}

.btn {
    width: 90px;
    height: 20px;
    background-color: black;
    color: white;
    font-size: 1em;
    text-align: center;
    padding: 5px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
}
.button{
    width: 90px;
    height: 30px;
    background-color: black;
    color: white;
    font-size: 1em;
    text-align: center;
    padding: 5px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btnDeActive {
    width: 90px;
    background-color: rgb(207, 205, 200);
    color: rgb(153, 153, 153);
    font-size: 1em;
    text-align: center;
    padding: 5px;
    border: 2px solid green;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}
.homebtn {
    width: 90px;
    height: 90px;
    border: 1px solid goldenrod;
    color: white;
    background-color: black;
    font-size: 1em;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
}

.registerbtn{
    color: white;
    font-style: italic;
}

.center{
    text-align: center;
}
